In [1]:
#importing libraries
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
* Rank
* Name
* Artist
* Upload date
* Views

In [63]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)

In [4]:
click = driver.find_element_by_xpath("//a[@class='external text']")
click.click()

In [5]:
video_click = driver.find_element_by_xpath("//div[@class='mw-search-result-heading']//a")
video_click.click()

In [25]:
#Extracting details from page
rank = []
name = []
artist = []
date = []
views = []

#scraping rank
r = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in r:
    if i.text is None:
        rank.append("-")
    else:
        rank.append(i.text)
    
time.sleep(4)
#Scraping video name
n = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2][1]")
for i in n:
    if i.text is None:
        name.append("-")
    else:
        name.append(i.text)

time.sleep(4)
#Scraping Artist
a = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in a:
    if i.text is None:
        artist.append("-")
    else:
        artist.append(i.text)
    
#Scraping Date    
time.sleep(4)
d = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in d:
    if i.text is None:
        date.append("-")
    else:
        date.append(i.text)

    
time.sleep(4)
v = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in v:
    if i.text is None:
        views.append("-")
    else:
        views.append(i.text)
time.sleep(4)
#Creating DataFrame
videos = pd.DataFrame({
    "Rank":rank[0:30],
    "Video Name":name[0:30],
    "Artist":artist[0:30],
    "Date":date[0:30],
    "Views(in Billions)":views[0:30]
})
videos

,Rank,Video Name,Artist,Date,Views(in Billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.46
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.58
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.19
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.37
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.31
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.24
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.13
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.02
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.48
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.18
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.08
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.08
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
27,28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.90
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.89
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.86

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
* Match title (I.e. 1st ODI)
* Series
* Place
* Date
* Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [26]:
url = "https://www.bcci.tv/"
driver.get(url)

In [42]:
#Clicking on the dots
search = driver.find_element_by_xpath("//button[@class='navigation__header-button menu-button js-navigation-menu-button']")
search.click()
time.sleep(2)
#Clicking on International 
expand_button = driver.find_element_by_xpath("//div[@class='navigation__expand']")
expand_button.click()
time.sleep(2)
#Clicking on fixtures
fix = driver.find_element_by_xpath("//div[@class='drop-down__options']/ul/li/a")
fix.click()

In [51]:
import time
match = []
series = []
place = []
date = []
match_time = []
timing = []
#Scraping match title
m = driver.find_elements_by_xpath("//div[@class='fixture__info u-skewed']/div[1]/span[1]")
for i in m:
    if i.text is None:
        match.append("-")
    else:
        match.append(i.text)

time.sleep(4)

#Scraping series
s = driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p/strong")
for i in s:
    if i.text is None:
        series.append("-")
    else:
        series.append(i.text)
time.sleep(4)

#Scraping place
p = driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p/span")
for i in p:
    if i.text is None:
        place.append("-")
    else:
        place.append(i.text)
time.sleep(4)


#Scraping Date
d = driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/span/strong")
for i in d:
    if i.text is None:
        date.append("-")
    else:
        date.append(i.text)
time.sleep(4)

#Scraping time
t = driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/span")
for i in t:
    timing.append(i.text)
for j in range(0,len(timing)):
    match_time.append(timing[j].split()[3])
time.sleep(4)
print(len(match),len(series),len(place),len(date),len(match_time))
cricket = pd.DataFrame({
    "Matches":match,
    "Series":series,
    "Place":place,
    "Date":date,
    "Time(in IST)":match_time
})
cricket

7 7 7 7 7

,Matches,Series,Place,Date,Time(in IST)
0,T20I,2nd T20I,"R Premadasa Stadium, Colombo",Wednesday 28 July,20:00
1,T20I,3rd T20I,"R Premadasa Stadium, Colombo",Thursday 29 July,20:00
2,TEST,1st Test,"Trent Bridge, Nottingham",Wednesday 4 August,15:30
3,TEST,2nd Test,"Lord's, London",Thursday 12 August,15:30
4,TEST,3rd Test,"Headingley, Leeds",Wednesday 25 August,15:30
5,TEST,4th Test,"The Oval, London",Thursday 2 September,15:30
6,TEST,5th Test,"Old Trafford, Manchester",Friday 10 September,15:30

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
* Name
* Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = "https://www.guru99.com/"
driver.get(url)

In [7]:
#Searching for 'Selenium Exception Handling'
search = driver.find_element_by_xpath("//input[@id='gsc-i-id2']")
search.send_keys("selenium exception handling")

In [8]:
#Clicking the search button
button_search = driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")
button_search.click()

In [19]:
name = []
description = []

n = driver.find_elements_by_xpath("//div[@class='gs-title']/a")
for i in n:
    if i.text is None:
        name.append("-")
    else:
        name.append(i.text)
time.sleep(4)
d = driver.find_elements_by_xpath("//div[@class='gs-bidi-start-align gs-snippet']")
for i in d:
    if i.text is None:
        description.append("-")
    else:
        description.append(i.text)
print(len(name),len(description))
selenium = pd.DataFrame({
    "Name":name,
    "Description":description
})
selenium

11 11

,Name,Description
0,TestNG Listeners in Selenium: ITestListener & ...,12-Jul-2021 ... It is used in selenium by impl...
1,JavaScriptExecutor in Selenium WebDriver with ...,12-Jul-2021 ... JavaScriptExecutor is an Inter...
2,How to Download & Install Selenium IDE for Fir...,03-Jul-2021 ... This tutorial takes you throug...
3,Cookies Handling in Selenium WebDriver,12-Jul-2021 ... Selenium Query Commands for co...
4,Selenium IDE Tutorial for Beginners,7 days ago ... Selenium IDE (Integrated Develo...
5,"TestNG Tutorial: What is, Annotations & Framew...",09-Jul-2021 ... Uncaught exceptions are automa...
6,Page Object Model (POM) & Page Factory in Sele...,16-Jul-2021 ... This is time consuming and err...
7,"Try...Catch...Finally, Throws, User Defined ex...",31-May-2021 ... Syntax of Try/Catch; Example t...
8,Dataprovider & TestNG XML: Parameterization in...,01-Jun-2021 ... Issue # 1 Parameter value in t...
9,How to Take Screenshot in Selenium WebDriver,07-Jun-2021 ... Selenium can automatically tak...
10,,

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
* Rank
* State
* GSDP at current price (19-20)
* GSDP at current price (18-19)
* Share(18-19)
* GDP($ billion)

In [10]:
url = "http://statisticstimes.com/"
driver.get(url)

In [5]:
economy = driver.find_element_by_xpath("//div[@class='dropdown']/button")
economy.click()
time.sleep(3)
india = driver.find_element_by_xpath("//div[@class='dropdown-content']/a")
india.click()

In [6]:
#clicking on GDP of Indian states
states = driver.find_element_by_xpath("//a[@class='ec']")
states.click()

In [11]:
rank = []
state = []
GSDP_19 = []
GSDP_18 = []
share = []
GDP = []


#Scrapping rank
r = driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[1]")
for i in r:
    if i.text is None:
        rank.append("-")
    else:
        rank.append(i.text)
time.sleep(4)
        
#Scrapping State
s = driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[2]")
for i in s:
    if i.text is None:
        state.append("-")
    else:
        state.append(i.text)
time.sleep(3)        
        
#Scrapping GSDP_19

g = driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[3]")
for i in g:
    if i.text is None:
        GSDP_19.append("-")
    else:
        GSDP_19.append(i.text)
time.sleep(3) 


#Scraping GSDP_18
gs = driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[4]")
for i in gs:
    if i.text is None:
        GSDP_18.append("-")
    else:
        GSDP_18.append(i.text)
time.sleep(3)

#Scraping share
sh = driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[5]")
for i in sh:
    if i.text is None:
        share.append("-")
    else:
        share.append(i.text)
time.sleep(3)

#Scraping GDP
gd = driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[6]")
for i in gd:
    if i.text is None:
        GDP.append("-")
    else:
        GDP.append(i.text)
time.sleep(3)
print(len(rank),len(state),len(GSDP_19),len(GSDP_18),len(share),len(GDP))
india_state = pd.DataFrame({
    "Rank":rank,
    "State":state,
    "GSDP 19-20":GSDP_19,
    "GSDP 18-19":GSDP_18,
    "Share":share,
    "GDP":GDP
})
india_state

66 66 66 66 66 66

   Rank                      State GSDP 19-20 GSDP 18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
..  ...                        ...        ...        ...     ...      ...
61   29                     Sikkim     28,391     25,141   0.15%   17,060
62   30                   Nagaland          -     24,534   0.15%        -
63   31          Arunachal Pradesh          -     22,488   0.13%        -
64   32                    Mizoram     24,424     20,947   0.13%   17,797
65   33  Andaman & Nicobar Islands          -          -       -        -

[66 rows x 6 columns]

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
* Repository title
* Repository description
* Contributors count
* Language used

In [17]:
url = "https://github.com/"
driver.get(url)

In [18]:
#Searching trending repositories
search = driver.find_element_by_xpath("//button[@class='btn-link d-lg-none mt-1 js-details-target']")
search.click()

time.sleep(3)

searching = driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]")
searching.click()

In [19]:
#Navigating to trending page
trending = driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]/details/div/ul[2]/li[3]/a")
trending.click()

In [34]:
title = []
description = []
count = []
language = []
page_urls = []

#Scrapping title
t = driver.find_elements_by_xpath("//article[@class='Box-row']/h1")
for i in t:
    if i.text is None:
        title.append("-")
    else:
        title.append(i.text)
titles = []
for k in range(0,len(title)):
    titles.append(title[k].split()[2])
        
time.sleep(4)
#Scrapping description
d = driver.find_elements_by_xpath("//article[@class='Box-row']/p")
for i in d:
    if i.text is None:
        description.append("-")
    else:
        description.append(i.text)
time.sleep(4)        
        
#Scrapping count
urls = driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a') 
for i in urls:
    page_urls.append(i.get_attribute('href'))
for j in page_urls:
    driver.get(j)
    time.sleep(1)
    c = driver.find_elements_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[last()-1]/div/h2/a/span")
    for i in c:
        if i.text is None:
            count.append("-")
        else:
            count.append(i.text)
time.sleep(4)        

#Scrapping languages
for j in page_urls:
    driver.get(j)
    l = driver.find_elements_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[last()]/div/ul")
    for i in l:
        if i.text is None:
            language.append("-")
        else:
            language.append(i.text.replace("\n",""))
            
print(len(titles),len(description),len(count),len(language),len(page_urls))

25 22 23 24 25

In [35]:
trending_repo = pd.DataFrame({
    "Title":titles[:22],
    "Description":description[:22],
    "Contributors count":count[:22],
    "Language used":language[:22]
}) 
trending_repo

,Title,Description,Contributors count,Language used
0,swift-algorithms,Commonly used sequence and collection algorith...,34,Swift100.0%
1,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,283",JavaScript61.7%TypeScript32.0%CSS5.8%Shell0.2%...
2,korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,10,Python100.0%
3,dataease,人人可用的开源数据可视化分析工具。,9,Java42.3%Vue26.1%PLpgSQL15.4%JavaScript8.1%CSS...
4,googletest,GoogleTest - Google Testing and Mocking Framework,334,C++84.5%Python12.3%CMake1.0%C0.9%Starlark0.7%S...
5,macos-virtualbox,"Push-button installer of macOS Catalina, Mojav...",20,Shell100.0%
6,tailscale,"The easiest, most secure way to use WireGuard ...",61,Go97.3%Shell0.7%HTML0.7%CSS0.6%C0.5%Nix0.1%Oth...
7,electron,Build cross-platform desktop apps with JavaScr...,"1,059",C++55.6%TypeScript24.8%JavaScript6.7%Objective...
8,widevine-l3-guesser,decompiled pegasus_spyware,,C96.7%C++2.9%Other0.4%
9,pegasus_spyware,"50+ mini web projects using HTML, CSS & JS",,Smali78.5%Java21.5%
10,50projects50days,Development repository for the Triton language...,14,CSS39.2%HTML31.3%JavaScript29.5%
11,triton,Web app for adding EU Digital COVID Certificat...,23,C++86.3%Python12.8%Other0.9%
12,covidpass,Open-source repository of Orbiter Space Flight...,11,TypeScript95.8%Dockerfile2.2%JavaScript2.0%
13,orbiter,Please do not use this tracker to scam anyone!...,2,C++79.8%HTML8.0%C5.5%MATLAB3.9%Lua1.4%CMake1.3...
14,cbtracker,分享 GitHub 上有趣、入门级的开源项目,3,JavaScript86.5%CSS13.1%Other0.4%
15,HelloGitHub,Sample apps built using the Xamarin.Forms fram...,11,Python100.0%
16,xamarin-forms-samples,The lightweight PyTorch wrapper for high-perfo...,67,C#99.3%Other0.7%
17,pytorch-lightning,A collection of extension libraries for Jetpac...,511,Python98.7%Other1.3%
18,accompanist,Tracking interesting Linux (and UNIX) malware....,37,Kotlin99.0%Shell1.0%
19,rafaballerini,Collection of Summer 2022 tech internships!,,Shell100.0%
20,anbox-halium,"Build Mobile, Desktop and WebAssembly apps wit...",4,timb-machine Tim Brownlimiteci Limiteci
21,linux-malware,📚 Freely available programming books,118,Python100.0%

Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
* Song name
* Artist name
* Last week rank
* Peak rank
* Weeks on board

In [3]:
url = "https://www.billboard.com/"
driver.get(url)

In [4]:
#Clicking on button
button = driver.find_element_by_xpath("//button[@class='header__action header__action--toggle button--link']")
button.click()
time.sleep(2)

#Clicking on chart option
chart = driver.find_element_by_xpath("//div[@class='mobile-menu bg--dark hide--lg']/div/ul/li/a")
chart.click()
time.sleep(1)

#Clicking on hot 100

hot = driver.find_element_by_xpath("//div[@class='mobile-menu bg--dark hide--lg']/div/ul/li/span/span/span/span/ul/li[1]")
hot.click()

In [8]:
song = []
artist = []
lweek = []
prank = []
weeks = []

#scrapping song name

s = driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/span[2]/span[1]")
for i in s:
    if i.text is None:
        song.append("--")
    else:
        song.append(i.text)
        
time.sleep(3)

#Scrapping artist name
a = driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/span[2]/span[2]")
for i in a:
    if i.text is None:
        artist.append("--")
    else:
        artist.append(i.text)
        
time.sleep(3)

#Scrapping Last week rank
l = driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]")
for i in l:
    if i.text is None:
        lweek.append("--")
    else:
        lweek.append(i.text)
        
time.sleep(3)

#Scrapping peak rank
p = driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[3]")
for i in l:
    if i.text is None:
        prank.append("--")
    else:
        prank.append(i.text)
        
time.sleep(3)

#Scrapping weeks 

w = driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[4]")
for i in l:
    if i.text is None:
        weeks.append("--")
    else:
        weeks.append(i.text)
        
time.sleep(3)

print(len(song),len(artist),len(lweek),len(prank),len(weeks))

100 100 100 100 100

In [9]:
hotsongs = pd.DataFrame({
    "Song Name":song,
    "Artist Name":artist,
    "Last Week Rank":lweek,
    "Peak rank":prank,
    "Weeks on board":weeks
})
hotsongs

,Song Name,Artist Name,Last Week Rank,Peak rank,Weeks on board
0,Butter,BTS,7,7,7
1,Good 4 U,Olivia Rodrigo,2,2,2
2,Levitating,Dua Lipa Featuring DaBaby,2,2,2
3,Stay,The Kid LAROI & Justin Bieber,3,3,3
4,Kiss Me More,Doja Cat Featuring SZA,3,3,3
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,56,56,56
96,30,Pop Smoke Featuring Bizzy Banks,-,-,-
97,You Should Probably Leave,Chris Stapleton,90,90,90
98,"Jealousy, Jealousy",Olivia Rodrigo,24,24,24
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,95

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
* Name
* Designation
* Company
* Skills they hire for
* Location

In [40]:
url = "https://www.naukri.com/data-science-recruiters"
driver.get(url)

In [54]:
name = []
designation = []
company = []
skills = []
location = []

#Scrapping Name
n = driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]/span[1]")
for i in n:
    if i.text is None:
        name.append("--")
    else:
        name.append(i.text)
        
time.sleep(2)

#Scrapping Designation

d = driver.find_elements_by_xpath("//div[@class='vcard']/p/span[1]")
for i in d:
    if i.text is None:
        designation.append("--")
    else:
        designation.append(i.text)
        
time.sleep(2) 

#Scrapping Company
c = driver.find_elements_by_xpath("//div[@class='vcard']/p/a[2]")
for i in c:
    if i.text is None:
        company.append("--")
    else:
        company.append(i.text)
time.sleep(3)

#Scrapping Skills

s = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in s:
    if i.text is None:
        skills.append("--")
    else:
        skills.append(i.text)
time.sleep(3)


#Scrapping Location
l = driver.find_elements_by_xpath("//div[@class='vcard']/p/span[2]/small")
for i in l:
    if i.text is None:
        location.append("--")
    else:
        location.append(i.text)
time.sleep(3)
        
recruiters = pd.DataFrame({
    "Name":name[:48],
    "Designation":designation[:48],
    "Company":company[:48],
    "Skills":skills[:48],
    "Location":location[:48]
})
recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
22,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Noida
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida

Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
* Name
* Year span
* Genre
* Run time
* Ratings
* Votes

In [55]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [59]:
name = []
year = []
genre = []
runtime = []
rating = []
votes = []

#Scrapping name
n = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
for i in n:
    if i.text is None:
        name.append("--")
    else:
        name.append(i.text)
time.sleep(2)

#Scrapping year
y = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")
for i in y:
    if i.text is None:
        year.append("--")
    else:
        year.append(i.text)
time.sleep(2)

#Scrapping Genre

g = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[5]")
for i in g:
    if i.text is None:
        genre.append("--")
    else:
        genre.append(i.text)
time.sleep(2)

#Scrapping runtime

r = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[3]")
for i in r:
    if i.text is None:
        runtime.append("--")
    else:
        runtime.append(i.text)
time.sleep(2)

#Scrapping rating
ra = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in ra:
    if i.text is None:
        rating.append("--")
    else:
        rating.append(i.text)
time.sleep(2)

#Scrapping votes
v = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
for i in v:
    if i.text is None:
        votes.append("--")
    else:
        votes.append(i.text)
time.sleep(2)

print(len(name),len(year),len(genre),len(runtime),len(rating),len(votes))

100 100 100 100 100 100

In [60]:
series = pd.DataFrame({
    "Name":name,
    "Year":year,
    "Genre":genre,
    "Run time":runtime,
    "Ratings":rating,
    "Votes":votes
})
series

,Name,Year,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,846,742"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"884,490"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"885,032"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,026"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,785"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,991"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,693"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,565"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,562"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"194,873"

Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
* Dataset name
* Data type
* Task
* Attribute type
* No of instances
* No of attribute
* Year

In [64]:
url = "https://archive.ics.uci.edu/ml/datasets.php"
driver.get(url)

In [68]:
name = []
datasettype = []
task = []
attributetype = []
instances = []
attribute = []
year = []

#Scrapping name
n = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[1]")
for i in n:
    if i.text is None:
        name.append("--")
    else:
        name.append(i.text)
time.sleep(2)

#scrapping dataset type
d = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]")
for i in d:
    if i.text is None:
        datasettype.append("--")
    else:
        datasettype.append(i.text)
time.sleep(2)

#Scrapping task
t = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]")
for i in t:
    if i.text is None:
        task.append("--")
    else:
        task.append(i.text)
time.sleep(2)

#Scrapping Attribute Type
a = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]")
for i in a:
    if i.text is None:
        attributetype.append("--")
    else:
        attributetype.append(i.text)
time.sleep(2)

#Scrapping Instances

i = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]")
for j in i:
    if j.text is None:
        instances.append("--")
    else:
        instances.append(j.text)
time.sleep(2)

#Scrapping attribute
at = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]")
for i in at:
    if i.text is None:
        attribute.append("--")
    else:
        attribute.append(i.text)
time.sleep(2)

#Scrapping year
y = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]")
for i in y:
    if i.text is None:
        year.append("--")
    else:
        year.append(i.text)
time.sleep(2)

print(len(name),len(datasettype),len(task),len(attributetype),len(instances),len(attribute),len(year))

589 589 589 589 589 589 589

In [70]:
datasets = pd.DataFrame({
    "Dataset Name":name[1:],
    "Dataset Type":datasettype[1:],
    "Task":task[1:],
    "Attribute Type":attributetype[1:],
    "Instances":instances[1:],
    "Attribute":attribute[1:],
    "Year":year[1:]
})
datasets

,Dataset Name,Dataset Type,Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
* Book name
* Author name
* Volumes sold
* Publisher
* Genre

In [71]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [72]:
name = []
author = []
volume = []
publisher = []
genre = []

#Scrapping Name
n = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in n:
    if i.text is None:
        name.append("--")
    else:
        name.append(i.text)
time.sleep(2) 

#Scrapping author name
a = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in a:
    if i.text is None:
        author.append("--")
    else:
        author.append(i.text)
time.sleep(2)

#Scrapping volume

v = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in v:
    if i.text is None:
        volume.append("--")
    else:
        volume.append(i.text)
time.sleep(2)

#Scrapping publisher

p = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in p:
    if i.text is None:
        publisher.append("--")
    else:
        publisher.append(i.text)
time.sleep(2)

#Scrapping genre

g = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in g:
    if i.text is None:
        genre.append("--")
    else:
        genre.append(i.text)
time.sleep(2)

print(len(name),len(author),len(volume),len(publisher),len(genre))

100 100 100 100 100

In [73]:
books = pd.DataFrame({
    "Book Name":name,
    "Author Name":author,
    "Volumes sold":volume,
    "Publisher":publisher,
    "Genre":genre
})
books

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General