In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [8]:
driver = webdriver.Chrome("chromedriver.exe")

#### Write a python program to scrape data for “Data Analyst” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.This task will be done in following steps:1. first get the webpage https://www.naukri.com/2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”in “enter the location” field.3. Then click the search button.4. Then scrape the data for the first 10 jobs results you get.5. Finally create a dataframe of the scraped data

In [3]:
url = "https://www.naukri.com/"
driver.get(url)

In [4]:
#To fill the search box with designation as Data Scientist
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [5]:
#To fill the search box with location as Delhi
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [6]:
#To click on the button search
search_btn = driver.find_element_by_class_name("btn")
# or we can use driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [7]:
#To scrape the job title
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = []
for i in job_title:
    title.append(i.text)
title

['Senior Data Scientist I',
 'IDM - Lead Data Scientist',
 'Principal Data Scientist',
 'Data Scientist - Business Analytics',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Immediately hiring For Data Scientist - (Bangalore)',
 'Immediately hiring For Data Scientist - (Bangalore)',
 'Senior/Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - SQL/R/Python',
 'Data Scientist - Predictive Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist',
 'Immediate job opening - Senior Data Scientist']

In [9]:
job_titles = []
for i in range(10):
    job_titles.append(title[i])
job_titles

['Senior Data Scientist I',
 'IDM - Lead Data Scientist',
 'Principal Data Scientist',
 'Data Scientist - Business Analytics',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Immediately hiring For Data Scientist - (Bangalore)',
 'Immediately hiring For Data Scientist - (Bangalore)']

In [10]:
len(job_titles)

10

In [14]:
job_loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
job_location = []
for i in job_loc:
    job_location.append(i.text)
location = []
for j in range(10):
    location.append(job_location[j])
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [15]:
len(location)

10

In [18]:
comp_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name = []
for i in comp_name:
    name.append(i.text)
company_name = []
for j in range(10):
    company_name.append(name[j])
company_name

['Philips India Limited',
 'Philips India Limited',
 'Philips India Limited',
 'Philips India Limited',
 'Philips India Limited',
 'Replicon Software',
 'Replicon Software',
 'Applied Materials',
 'Trigent Software',
 'Trigent Software']

In [19]:
len(company_name)

10

In [22]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exper = []
for i in exp:
    exper.append(i.text)
experience = []
for j in range(10):
    experience.append(exper[j])
experience

['6-10 Yrs',
 '10-15 Yrs',
 '9-13 Yrs',
 '4-8 Yrs',
 '2-15 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '2-4 Yrs',
 '5-8 Yrs',
 '5-8 Yrs']

In [23]:
len(experience)

10

In [24]:
Job_Vacany = pd.DataFrame({})
Job_Vacany["Job Title"]=job_titles
Job_Vacany["Location"]=location
Job_Vacany["Company"]=company_name
Job_Vacany["Experience"]=experience
Job_Vacany

,Job Title,Location,Company,Experience
0,Senior Data Scientist I,Bangalore/Bengaluru,Philips India Limited,6-10 Yrs
1,IDM - Lead Data Scientist,Bangalore/Bengaluru,Philips India Limited,10-15 Yrs
2,Principal Data Scientist,Bangalore/Bengaluru,Philips India Limited,9-13 Yrs
3,Data Scientist - Business Analytics,Bangalore/Bengaluru,Philips India Limited,4-8 Yrs
4,Data Scientist,Bangalore/Bengaluru,Philips India Limited,2-15 Yrs
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Replicon Software,5-10 Yrs
6,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Replicon Software,5-10 Yrs
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
8,Immediately hiring For Data Scientist - (Banga...,Bangalore/Bengaluru,Trigent Software,5-8 Yrs
9,Immediately hiring For Data Scientist - (Banga...,Bangalore/Bengaluru,Trigent Software,5-8 Yrs

### Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [45]:
url = "https://www.naukri.com/"
driver.get(url)

In [46]:
#To fill the search box with designation as Data Scientist
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [47]:
#To fill the search box with location as Delhi
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [48]:
#To click on the button search
search_btn = driver.find_element_by_class_name("btn")
search_btn.click()

In [29]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = []
for i in job_title:
    title.append(i.text)
job_titles = []
for i in range(10):
    job_titles.append(title[i])
job_titles

['Senior Data Scientist I',
 'IDM - Lead Data Scientist',
 'Principal Data Scientist',
 'Data Scientist - Business Analytics',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Immediately hiring For Data Scientist - (Bangalore)',
 'Immediately hiring For Data Scientist - (Bangalore)']

In [30]:
job_loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
job_location = []
for i in job_loc:
    job_location.append(i.text)
location = []
for j in range(10):
    location.append(job_location[j])
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [31]:
comp_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name = []
for i in comp_name:
    name.append(i.text)
company_name = []
for j in range(10):
    company_name.append(name[j])
company_name

['Philips India Limited',
 'Philips India Limited',
 'Philips India Limited',
 'Philips India Limited',
 'Philips India Limited',
 'Replicon Software',
 'Replicon Software',
 'Applied Materials',
 'Trigent Software',
 'Trigent Software']

In [32]:
#To Scrape data from inside
# First we need to extract the links
jobs_url = []
url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
# the xpath is that of the job title, because clicking on job title gives the description which is inside
for i in url:
    jobs_url.append(i.get_attribute('href'))
jobs_url

['https://www.naukri.com/job-listings-senior-data-scientist-i-philips-india-limited-bangalore-bengaluru-6-to-10-years-250621500799?src=jobsearchDesk&sid=16247722636418824&xp=1&px=1',
 'https://www.naukri.com/job-listings-idm-lead-data-scientist-philips-india-limited-bangalore-bengaluru-10-to-15-years-250621500736?src=jobsearchDesk&sid=16247722636418824&xp=2&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-philips-india-limited-bangalore-bengaluru-9-to-13-years-250621500764?src=jobsearchDesk&sid=16247722636418824&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-business-analytics-philips-india-limited-bangalore-bengaluru-4-to-8-years-250621500272?src=jobsearchDesk&sid=16247722636418824&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-philips-india-limited-bangalore-bengaluru-2-to-15-years-250621500719?src=jobsearchDesk&sid=16247722636418824&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-replicon-software-kolkata-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-5-to-10-years-260621603052?src=jobsearchDesk&sid=16247722636418824&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-replicon-software-kolkata-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-5-to-10-years-260621003050?src=jobsearchDesk&sid=16247722636418824&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-250621903137?src=jobsearchDesk&sid=16247722636418824&xp=8&px=1',
 'https://www.naukri.com/job-listings-immediately-hiring-for-data-scientist-bangalore-trigent-software-private-limited-bangalore-bengaluru-5-to-8-years-250621601292?src=jobsearchDesk&sid=16247722636418824&xp=9&px=1',
 'https://www.naukri.com/job-listings-immediately-hiring-for-data-scientist-bangalore-trigent-software-private-limited-bangalore-bengaluru-5-to-8-years-250621001290?src=jobsearchDesk&sid=16247722636418824&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-aureustech-systems-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-9-to-14-years-230621004832?src=jobsearchDesk&sid=16247722636418824&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sa-technologies-bangalore-bengaluru-4-to-5-years-250621501585?src=jobsearchDesk&sid=16247722636418824&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sql-r-python-imindyourbusiness-bangalore-bengaluru-4-to-8-years-250621902854?src=jobsearchDesk&sid=16247722636418824&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-predictive-analytics-talentstack-bangalore-bengaluru-1-to-3-years-250621902694?src=jobsearchDesk&sid=16247722636418824&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kwalee-india-pvt-ltd-bangalore-bengaluru-5-to-10-years-260321000780?src=jobsearchDesk&sid=16247722636418824&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bankbazaar-com-a-a-dukaan-financial-services-pvt-ltd-bangalore-bengaluru-5-to-7-years-040321006895?src=jobsearchDesk&sid=16247722636418824&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-220621501398?src=jobsearchDesk&sid=16247722636418824&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-zazmic-india-private-limited-kolkata-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-3-to-8-years-210621007920?src=jobsearchDesk&sid=16247722636418824&xp=18&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-140621005528?src=jobsearchDesk&sid=16247722636418824&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-5-to-9-years-140621500966?src=jobsearchDesk&sid=16247722636418824&xp=20&px=1']

In [42]:
job_desc = []
for i in jobs_url:
    driver.get(i)
    job_description = driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for j in job_description:
        job_desc.append(j.text.replace("\n"," "))
job_description = []
for j in range(10):
    job_description .append(job_desc[j])
job_description

['Job Responsibilities Use predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes Work with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled. Selecting features, building and optimizing classifiers using machine learning and deep learning techniques Collaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems Processing, cleansing, and verifying the integrity of data used for analysis Develop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models. Adherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata. Job Qualifications: Master s degree or PhD in Computer Science, Information management, Statistics or related field, with 10+ years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development Experience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc. Strong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc Having strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning Strong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners. Deep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent Experience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools. Proficiency in using query languages, such as SQL, PL/SQL Hands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc. Good applied statistics skills, such as distributions, statistical testing, regression, etc. Good ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition. A team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation. Ability to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines A flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization. A self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science',
 'Your responsibilities Ensure strategic direction for data science capabilities for Philips is created and kept up to date on a regular basis Continuously evaluate the latest techniques in Artificial intelligence, machine learning, robotics, statistical analysis Implement advanced algorithms for business problems based on statistical analysis, coding, deep learning, advanced data mining techniques etc. Develop new algorithms if necessary, to bring predictive, advanced statistics / learning based solutions Develop algorithms to further automate processes and feed insights back into PIL for better business outcome Co-create with business / market / functions or IT platforms on requirements Ensure quality of data and solution developed Lead and drive data mining, creating algorithms, collection of data, collection of procedures during the design, build phases of a project Lead and drive in deploy and testing of the solutions and insights Spot and evaluate emerging/cutting edge, open source, data science/machine learning libraries You are part of: You will be part of Group IT , Information and Data Management team that drives business impact through Data Science and Advanced analytics. A team that instigates collaboration across diverse teams globally to manage Data as an asset at Philips. Core competencies needed to be successful: A Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Applied Mathematics, Statistics or equivalent; 10-15 years of overall experience in data science, data analytics roles 10+ years of experience in multiple of machine learning, data mining, deep learning, artificial intelligence, pattern recognition areas Experience in driving implementation of solutions, data and algorithms on data warehouse and lakes like Azure , AWS, SQL etc Demonstrable advanced programming experience in Python or another programming language such as Azure ML/R/Python etc ; Strong analytical and social skills and the capability to translate data intelligence into valuable insights for the senior stakeholders in the company Ability to formulate multiple complex business problems into hypothesis and proof of concepts for testing Manage Projects and lead a sub-portfolio of data science project teams to deliver results Coach, Guide and direct teams of internal and vendor resources Collaborate across IT platform teams to deploy solutions and drive continuous improvements Manage senior stakeholder in the company in a matrix organization i.e. Market / BG / Function leaders',
 'In this role, you have the opportunity to Provide data science solutions using advanced techniques, tools and methods to complex business problems. Create and maintain standards around data science for the company. Partner with businesses, markets and functions. Reporting Head of Information Data Management   You are responsible for Co-create with business / market / functions or IT platforms on data science projects to meet the business need for insights and analytics using sophisticated data science techniques i.e. automation, crunching big data sets, machine learning or AI Setup projects to drive the business needs Participate in budgeting cycle, leading resources and running vendors Work on continuously updating data science strategy including evaluate emerging/cutting edge, open source, data science/machine learning libraries/big data platforms Strong proven experience in solving business problems through data science techniques, statistical modeling where simple analysis will not be sufficient Provide technical and people leadership to the data science team Ability to formulate multiple sophisticated business problems into hypothesis and proof of concepts for testing Coach, Guide and lead teams of internal and vendor resources Direct a team of 10-12 FTE data scientists and their priorities together with the partners and data information strategy Lead PL for the sub-department and the data science project portfolio Lead senior partner in the company in a matrix organization up to Executive committee levels, Market / BG / Function leaders Formulate strategies for incorporating new, latest and cutting-edge techniques and tools To succeed in this role, you should have the following skills and experience Demonstrable sophisticated programming experience in Python or another programming language such as Java/C/C++/R; Strong analytical and interpersonal skills and the capability to translate data intelligence into valuable insights for the senior partners in the company Experience in data analytics and in statistical (regression, clustering and classification), descriptive and diagnosis methods; knowledge of forecasting methods A Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Applied Mathematics, Statistics or equivalent; Certifications or training in leadership MBA is a plus 15+ years of overall experience in data science, data analytics roles proven experience in multiple of machine learning, data mining, deep learning, artificial intelligence, pattern recognition areas demonstrated ability in creating and leading data science and analytics teams validated experience in creating and leading data science and / or data analytics strategy demonstrated ability in working in multinational companies with matrix structures including handling conflicting priorities from multiple partners',
 'Support business in their decision making needs (Operational/ Strategic) by providing insights from Data. Assess solutions for business opportunities by leveraging data (Transactional Data/ Big Data, External and Internal Data, Structured and Unstructured Data) and analytics methods. Provide consulting, advice, training and support in analytics. Furthermore, will build the application related part of analytics knowledge base in the organization domain. Deliver high impact Business insights enabled by Analytics to various functions under the Philips Group Operations. (Markets/ BGs/ Functions would also be consumers of the related Insights from Group Operations) Drive Digital Innovation and deliver Value services to enable the Group Operations Transformation agenda. Enable improvement programs across Philips Sites- using levers such as process automation, digital technologies, analytics, artificial intelligence, etc Harmonize and optimize various Analytics efforts happening under the wider Group Operations to maximize ROI from data analytics for Philips Key Areas of Responsibilities Expertise in analytics techniques/ methods and tools; Expertise in translating business requirements in to analytics and vice versa; strong execution and drive for results; focus on customers; change management skills; E2E operational excellence. Analytical bent of mind Expertize in analytics solutions design, development and deployment Expertize in predictive analytics techniques, and data mining Experience in the areas of analytics, exposure to emerging digital technologies/ landscape. (eg Cloud computing, designing and embedding predictive analytics models into workflows/ processes) Expertize in R, Python tools Expertize in Machine learning AI techniques Ability to manage stakeholders within the organisation Ability to present facts based on data and in working with very large quantum of data Have Business context across the multiple functions in an Organization - accelerating the ability to connect the dots across the breadth depth of large Organizations to enable Business results Experience Qualifications Ability to communicate clearly (oral, written and remote) to remote audience with clear business articulation Expertise in multiple tools and techniques Understands and supports many business processes with analytics solutions/ deliveries Managing direct and indirect stakeholders (support functions) like Finance, IT etc. Collaborates and influences with known stakeholders Identify and replicate best practices across the domain/tools techniques Keep abreast with latest develop in analytics domain, emerging technology Advises business champions in the domain where analytics can contribute Year of industry Exp: 8 10 Years; Relevant Exp in analytics domain: 5+ years',
 'In this role, you have the opportunity to Provide data science solutions using advanced techniques, tools and methods to complex business problems. Create and maintain standards around data science for the company. Partner with businesses, markets and functions. You are responsible for Co-create with business / market / functions or IT platforms on requirements Interpret and analyze data problems and come up with viable solutions, hypothesis and proof of concepts Ensure quality of data and solution developed Lead and drive data mining, creating algorithms, collection of data, collection of procedures during the design, build phases of a project Lead and drive in deploy and testing of the solutions and insights Working with big data and databases Provide support to inexperienced analysts Spot and evaluate emerging/cutting edge, open source, data science/machine learning libraries To succeed in this role, you should have the following skills and experience Demonstrable advanced programming experience in Python or another programming language such as Java/C/C++/R; Strong analytical and social skills and the capability to translate data intelligence into valuable insights for the senior stakeholders in the company Experience in data analytics and in statistical (regression, clustering and classification), descriptive and diagnosis methods; knowledge of forecasting methods Ability to formulate multiple complex business problems into hypothesis and proof of concepts for testing Coach, Guide and direct teams of internal and vendor resources Manage and lead a sub-portfolio of data science projects Manage data science project budgets for sub-areas Manage senior stakeholder in the company in a matrix organization i.e. Market / BG / Function leaders A Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Applied Mathematics, Statistics or equivalent; 10-15 years of overall experience in data science, data analytics roles 10+ years of experience in multiple of machine learning, data mining, deep learning, artificial intelligence, pattern recognition areas 10+ years of experience in using programming languages such as python, R, JAVA, C/C++ etc. to build data science solution 2+ years of experience in working in multinational companies with matrix structures 2+ years of making choices for high impact solution-based data science technique Experience in driving implementation of solutions, data and algorithms on data warehouse and lakes',
 "Brief JD Experience: 5 - 10 Yrs   Skills and Qualifications • Bachelor's or Master degree in Statistics, Applied Mathematics or related discipline • Proficiency with data mining, mathematics, and statistical analysis • Advanced pattern recognition and predictive modelling experience • Programming experience (Python, R, etc.)  Preferred Qualifications • 5-10 years experience in data science • Professional certifications • Experience with visualization tools such as PowerBI and Tableau • Experience with NLP/NLU technologies (Amazon Lex, Google DialogFlow, etc) • Experience with AI/ML technologies (Tensorflow, Amazon Sagemaker, etc) • Experience with SQL • Experience working in an Agile environment • A portfolio of relevant work to share  To apply for the role, Share your resumes or refer your friends to Mail ID: damodharan.j@replicon.com",
 "Brief JD Experience: 5 - 10 Yrs   Skills and Qualifications • Bachelor's or Master degree in Statistics, Applied Mathematics or related discipline • Proficiency with data mining, mathematics, and statistical analysis • Advanced pattern recognition and predictive modelling experience • Programming experience (Python, R, etc.)  Preferred Qualifications • 5-10 years experience in data science • Professional certifications • Experience with visualization tools such as PowerBI and Tableau • Experience with NLP/NLU technologies (Amazon Lex, Google DialogFlow, etc) • Experience with AI/ML technologies (Tensorflow, Amazon Sagemaker, etc) • Experience with SQL • Experience working in an Agile environment • A portfolio of relevant work to share  To apply for the role, Share your resumes or refer your friends to Mail ID: damodharan.j@replicon.com",
 'Preferred Qualifications 5-8 years experience in data science. Professional certifications. Experience with visualization tools such as PowerBI and Tableau Experience with NLP/NLU technologies (Amazon Lex, Google DialogFlow, etc) Experience with AI/ML technologies (Tensorflow, Amazon Sagemaker, etc) Experience with SQL Experience working in an Agile environment A portfolio of relevant work to share  Note: If you are interested, kindly revert back with your updated resume ASAP. (sharan_c@trigent.com)',
 'Preferred Qualifications 5-8 years experience in data science. Professional certifications. Experience with visualization tools such as PowerBI and Tableau Experience with NLP/NLU technologies (Amazon Lex, Google DialogFlow, etc) Experience with AI/ML technologies (Tensorflow, Amazon Sagemaker, etc) Experience with SQL Experience working in an Agile environment A portfolio of relevant work to share  Note: If you are interested, kindly revert back with your updated resume ASAP. (sharan_c@trigent.com)',
 'Responsibilities Identify valuable data sources and automate collection processes Undertake preprocessing of structured and unstructured data Analyze large amounts of information to discover trends and patterns Build predictive models and machine-learning algorithms Combine models through ensemble modeling Present information using data visualization techniques Propose solutions and strategies to business challenges Collaborate with engineering and product development teams  Requirements Proven experience as a Data Scientist or Data Analyst Experience in data mining, Deep Learning Understanding of machine-learning and operations research Experience with NLP Experience with Python Experience using business intelligence tools (e.g. Tableau) and data frameworks (e.g. Hadoop) Analytical mind and business acumen Very Strong math skills (e.g. statistics, algebra etc.,) Problem-solving aptitude Excellent communication and presentation skills']

In [43]:
len(job_description )

10

In [44]:
Job = pd.DataFrame({})
Job["Job Title"]=job_titles
Job["Location"]=location
Job["Company"]=company_name
Job["Job Description"]=job_description
Job

,Job Title,Location,Company,Job Description
0,Senior Data Scientist I,Bangalore/Bengaluru,Philips India Limited,Job Responsibilities Use predictive modeling t...
1,IDM - Lead Data Scientist,Bangalore/Bengaluru,Philips India Limited,Your responsibilities Ensure strategic directi...
2,Principal Data Scientist,Bangalore/Bengaluru,Philips India Limited,"In this role, you have the opportunity to Prov..."
3,Data Scientist - Business Analytics,Bangalore/Bengaluru,Philips India Limited,Support business in their decision making need...
4,Data Scientist,Bangalore/Bengaluru,Philips India Limited,"In this role, you have the opportunity to Prov..."
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Replicon Software,Brief JD Experience: 5 - 10 Yrs Skills and Q...
6,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Replicon Software,Brief JD Experience: 5 - 10 Yrs Skills and Q...
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,Preferred Qualifications 5-8 years experience ...
8,Immediately hiring For Data Scientist - (Banga...,Bangalore/Bengaluru,Trigent Software,Preferred Qualifications 5-8 years experience ...
9,Immediately hiring For Data Scientist - (Banga...,Bangalore/Bengaluru,Trigent Software,Responsibilities Identify valuable data source...

### 3) You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company_name,experience_required.The location filter to be used is “Delhi/NCR”The salary filter to be used is “3-6” lakhs
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [67]:
url="https://www.naukri.com/"
driver.get(url)

In [68]:
#Adding Data Scientist in the search bar
search_designation = driver.find_element_by_id("qsb-keyword-sugg")
search_designation.send_keys("Data Scientist")

In [69]:
#Code for clicking the search button
search_click = driver.find_element_by_xpath("//button[@class='btn']")
search_click.click()

In [71]:
#Applying location filter as Delhi/NCR
loc_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i")
loc_filter.click()

In [72]:
#Applying salary filter as 3-6lakhs
salary_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i")
salary_filter.click()

In [96]:
#Scraping job title
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []
for i in title:
    job_title.append(i.text)
job_titles = []
for j in range(0,10):
    job_titles.append(job_title[j])
job_titles

['Only Fresher / Data Scientist / Data Analyst / Analytics - MNC OSC',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist - Text NLP | Noida',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist',
 'Data Scientist - Machine Learning/NLP',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'We are hiring- Data Scientist +Python- Noida']

In [97]:
len(job_titles)

10

In [98]:
location = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
job_location = []
for i in location:
    job_location.append(i.text)

job_locations = []
for j in range(2,len(job_location),3):
    job_locations.append(job_location[j])
locations = []
for j in range(0,10):
    locations.append(job_locations[j])
locations

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Delhi / NCR']

In [99]:
len(locations)

10

In [100]:
job_location
experience=[]
for i in range(0,len(job_location),3):
    experience.append(job_location[i])
exp = []
for j in range(10):
    exp.append(experience[j])
exp

['0-0 Yrs',
 '0-3 Yrs',
 '3-5 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '4-7 Yrs']

In [101]:
len(exp)

10

In [102]:
name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name = []
for i in name:
    company_name.append(i.text)
comp_name = []
for j in range(10):
    comp_name.append(company_name[j])
comp_name

['GABA Consultancy services',
 'Inflexion Analytix Private Limited',
 'Acidaes Solutions Pvt. Ltd.',
 'TalPro',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'TalPro',
 'TalkValley LLC',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'RANDSTAD INDIA PVT LTD']

In [104]:
len(comp_name)

10

In [105]:
jobs = pd.DataFrame({})
jobs["Job Title"] = job_titles
jobs["Location"] = locations
jobs["Experience Required"] = exp
jobs["Company"] = comp_name
jobs

,Job Title,Location,Experience Required,Company
0,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs,GABA Consultancy services
1,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs,Inflexion Analytix Private Limited
2,Data Scientist - Text NLP | Noida,Noida,3-5 Yrs,Acidaes Solutions Pvt. Ltd.
3,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,2-6 Yrs,TalPro
4,Data Scientist,Noida,3-8 Yrs,NEC CORPORATION INDIA PRIVATE LIMITED
5,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,2-4 Yrs,TalPro
6,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs,TalkValley LLC
7,Chaayos is Looking For Data Scientist,New Delhi,0-5 Yrs,Chaayos (Sunshine Teahouse Pvt. Ltd.)
8,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs,Fractal Analytics
9,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",4-7 Yrs,RANDSTAD INDIA PVT LTD

### 4): Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.

In [27]:
driver = webdriver.Chrome("chromedriver.exe")

In [28]:
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [30]:
search_des = driver.find_element_by_id("scKeyword")
search_des.send_keys("Data Scientist")

In [31]:
search_loc = driver.find_element_by_id("scLocation")
search_loc.send_keys("Noida")

In [32]:
search_click = driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm SearchStyles__searchKeywordSubmit']")
search_click.click()

In [34]:
comp_name = driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")
name = []
for i in comp_name:
    name.append(i.text)
len(name)

30

In [36]:
nodays = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days = []
for i in nodays:
    days.append(i.text)
rate = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
rating = []
for j in rate:
    rating.append(j.text)
print(days[:10])
print("Ratings - \n",rating[:10])

['16d', '30d+', '20d', '12d', '2d', '30d+', '30d+', '6d', '13d', '30d+']
Ratings -
 ['3.0', '3.9', '4.1', '3.8', '4.3', '5.0', '4.1', '3.8', '3.1', '3.7']

In [37]:
name = name[:10]
days = days[:10]
rating = rating[:10]

In [38]:
job_posted = pd.DataFrame({})
job_posted["Company Name"] = name
job_posted["No. of days since posted"] = days
job_posted["Rating"] = rating
job_posted

,Company Name,No. of days since posted,Rating
0,Data Patterns,16d,3.0
1,Biz2Credit Inc,30d+,3.9
2,Ginger Webs Pvt. Ltd.,20d,4.1
3,Siemens Technology and Services Private Limited,12d,3.8
4,Innovacer,2d,4.3
5,MasterCard,30d+,5.0
6,Salasar New Age Technologies,30d+,4.1
7,Wobb.ai,6d,3.8
8,Algo8 AI Pvt. Ltd.,13d,3.1
9,Techlive,30d+,3.7

### 5): Write a python program to scrape the salary data for Data Scientist designation in Noida location.
   *You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button
5. Scrape data for first 10 companies. Scrape the min salary, max salary, companyname, Average salary and rating of the company.
6.Store the data in a dataframe.

In [71]:
driver = webdriver.Chrome("chromedriver.exe")

In [72]:
url = "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [73]:
search_des = driver.find_element_by_id("KeywordSearch")
search_des.send_keys("Data Scientist")

In [74]:
search_loc = driver.find_element_by_id("LocationSearch")
search_loc.send_keys("Noida")

In [75]:
search_click = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_click.click()

In [82]:
company_name = driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']//a")
name = []
min_salary = []
for i in company_name:
    name.append(i.text)
print(name)
min_sal =driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
for i in min_sal:
    min_salary.append(i.text)
minimum_salary = []
for j in range(0,len(min_salary)):
    minimum_salary.append(min_salary[j].split())
minimum_salary

['IBM', 'Tata Consultancy Services', 'Accenture', 'Delhivery', 'Ericsson-Worldwide', 'UnitedHealth Group', 'Valiance Solutions', 'Optum Global Solutions', 'ZS Associates', 'EXL Service', 'Optum', 'Innovaccer', 'Cognizant Technology Solutions', 'Nagarro', 'dunnhumby', 'Vidooly Media Tech', 'Tech Mahindra', 'OYO', 'R Systems', 'CARS24.com']

[['Range:', '₹6L', '-', '₹27L'],
 ['Range:', '₹3L', '-', '₹13L'],
 ['Range:', '₹6L', '-', '₹22L'],
 ['Range:', '₹5L', '-', '₹1Cr'],
 ['Range:', '₹4L', '-', '₹16L'],
 ['Range:', '₹11L', '-', '₹15L'],
 ['Range:', '₹5L', '-', '₹15L'],
 ['Range:', '₹4L', '-', '₹22L'],
 ['Range:', '₹2L', '-', '₹18L'],
 ['Range:', '₹6L', '-', '₹15L'],
 ['Range:', '₹8L', '-', '₹20L'],
 ['Range:', '₹6L', '-', '₹17L'],
 ['Range:', '₹8L', '-', '₹13L'],
 ['Range:', '₹4L', '-', '₹16L'],
 ['Range:', '₹8L', '-', '₹20L'],
 ['Range:', '₹12T', '-', '₹63T'],
 ['Range:', '₹4L', '-', '₹17L'],
 ['Range:', '₹10L', '-', '₹19L'],
 ['Range:', '₹8L', '-', '₹30L'],
 ['Range:', '₹9L', '-', '₹15L']]

In [85]:
low_salary = []
for i in range(0,len(minimum_salary)):
    for j in range(1,2):
        low_salary.append(minimum_salary[i][j])
low_salary
max_salary = []
for i in range(0,len(minimum_salary)):
    for j in range(3,4):
        max_salary.append(minimum_salary[i][j])
print(low_salary[:10])
print(max_salary[:10])

['₹6L', '₹3L', '₹6L', '₹5L', '₹4L', '₹11L', '₹5L', '₹4L', '₹2L', '₹6L']
['₹27L', '₹13L', '₹22L', '₹1Cr', '₹16L', '₹15L', '₹15L', '₹22L', '₹18L', '₹15L']

In [89]:
avg = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")
avg_sal = []
for i in avg:
    avg_sal.append(i.text)
print(avg_sal[:10])
rate = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
rating = []
for i in rate:
    rating.append(i.text)
print(rating[:10])

['₹9,00,000', '₹6,15,289', '₹11,63,336', '₹12,18,244', '₹7,39,238', '₹13,38,279', '₹8,63,750', '₹13,28,697', '₹11,42,356', '₹11,46,073']
['3.9', '3.9', '4', '3.9', '4', '3.7', '4.2', '3.9', '4', '3.6']

In [90]:
name = name[:10]
low_salary = low_salary[:10]
max_salary = max_salary[:10]
rating = rating[:10]

In [91]:
avg_sal = avg_sal[:10]

In [92]:
salary = pd.DataFrame()
salary["Company"] = name
salary["Minimum Salary"] = low_salary
salary["Maximum Salary"] = max_salary
salary["Average Salary"] = avg_sal
salary["Rating"] = rating
salary

,Company,Minimum Salary,Maximum Salary,Average Salary,Rating
0,IBM,₹6L,₹27L,"₹9,00,000",3.9
1,Tata Consultancy Services,₹3L,₹13L,"₹6,15,289",3.9
2,Accenture,₹6L,₹22L,"₹11,63,336",4
3,Delhivery,₹5L,₹1Cr,"₹12,18,244",3.9
4,Ericsson-Worldwide,₹4L,₹16L,"₹7,39,238",4
5,UnitedHealth Group,₹11L,₹15L,"₹13,38,279",3.7
6,Valiance Solutions,₹5L,₹15L,"₹8,63,750",4.2
7,Optum Global Solutions,₹4L,₹22L,"₹13,28,697",3.9
8,ZS Associates,₹2L,₹18L,"₹11,42,356",4
9,EXL Service,₹6L,₹15L,"₹11,46,073",3.6

#### 6)Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [140]:
driver = webdriver.Chrome("chromedriver.exe")

In [141]:
url = "https://www.flipkart.com/"
driver.get(url)

In [142]:
search_product = driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']//input")
search_product.send_keys("sunglasses")

In [143]:
click_search = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
click_search.click()

In [144]:
brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands = []
for i in brand_name:
    brands.append(i.text)

In [145]:
desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a")
description = []
for i in desc:
    description.append(i.text)
descriptions =[]
for j in range(0,len(description),2):
    descriptions.append(description[j])

In [146]:
len(descriptions)

40

In [147]:
price_get = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price = []
for i in price_get:
    price.append(i.text)

In [148]:
discount_percent = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
discount = []
for i in discount_percent:
    discount.append(i.text)

In [149]:
len(discount)

40

In [150]:
next_page = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_page.click()

In [151]:
brand_name1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands1 = []
for i in brand_name1:
    brands1.append(i.text)
for j in brands1:
    brands.append(j)

In [152]:
len(brands)

80

In [153]:
desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a")
description1 = []
for i in desc:
    description1.append(i.text)
descriptions1 =[]
for j in range(0,len(description1),2):
    descriptions1.append(description1[j])
for k in descriptions1:
    descriptions.append(k)

In [154]:
len(descriptions)

80

In [155]:
price_get = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1 = []
for i in price_get:
    price1.append(i.text)
for j in price1:
    price.append(j)

In [156]:
discount_percent = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
discount1 = []
for i in discount_percent:
    discount1.append(i.text)
for j in discount1:
    discount.append(j)

In [157]:
next_page1 = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_page1.click()

In [158]:
brand_name2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands2 = []
for i in brand_name2:
    brands2.append(i.text)
for j in brands2:
    brands.append(j)

In [159]:
len(brands)

120

In [160]:
desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a")
description2 = []
for i in desc:
    description2.append(i.text)
descriptions2 =[]
for j in range(0,len(description2),2):
    descriptions2.append(description2[j])
for k in descriptions2:
    descriptions.append(k)

In [161]:
len(descriptions)

120

In [162]:
price_get = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price2 = []
for i in price_get:
    price2.append(i.text)
for j in price2:
    price.append(j)

In [163]:
len(price)

120

In [164]:
discount_percent = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
discount2 = []
for i in discount_percent:
    discount2.append(i.text)
for j in discount2:
    discount.append(j)

In [166]:
brands = brands[:100]

In [168]:
descriptions = descriptions[:100]

In [169]:
price = price[:100]

In [170]:
discount = discount[:100]

In [171]:
sunglasses = pd.DataFrame({})
sunglasses["Brand"] = brands
sunglasses["Description"] = descriptions
sunglasses["Price"] = price
sunglasses["Discount"] = discount
sunglasses

,Brand,Description,Price,Discount
0,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹1,120",43% off
1,VINCENT CHASE,Polarized Round Sunglasses (56),₹799,60% off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
3,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹349,78% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Over-sized Sunglasses ...",₹917,77% off
96,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹296,85% off
97,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,85% off
98,NuVew,"UV Protection, Gradient, Night Vision, Mirrore...",₹335,70% off
99,AISLIN,UV Protection Oval Sunglasses (58),₹543,78% off

### 7): Scrape 100 reviews data from flipkart.com for iphone11 phone. You have togo the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [181]:
driver = webdriver.Chrome("chromedriver.exe")

In [182]:
url = ("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")
driver.get(url)

In [183]:
button_click = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
button_click.click()

In [197]:
urls = driver.find_elements_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a")
page_url = []
for i in urls:
    page_url.append(i.get_attribute('href'))
page_url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [202]:
rating = []
for j in page_url:
    driver.get(j)
    rate = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for j in rate:
        rating.append(j.text)
len(rating)

108

In [203]:
rating = rating[:100]

In [205]:
review_summary = []
for i in page_url:
    driver.get(i)
    review_sum = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review_sum:
        review_summary.append(i.text)

110

In [206]:
review_summary = review_summary[:100]

In [208]:
full_review = []
for i in page_url:
    driver.get(i)
    full_rev = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full_rev:
        full_review.append(i.text)
len(full_review)

110

In [209]:
full_review = full_review[:100]

In [210]:
iphone_ratings = pd.DataFrame({})
iphone_ratings["Ratings"] = rating
iphone_ratings["Review Summary"] = review_summary
iphone_ratings["Full Review"] = full_review
iphone_ratings

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Classy product,We are on apple ecosystem for almost eight yea...
96,5,Excellent,A perfect phone and a good battery super camer...
97,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
98,5,Fabulous!,Product is nice at the deviled time the delive...
99,5,Best in the market!,The best all rounder iphone. Flipkart is doing...

##### 8)Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [8]:
url = "https://www.flipkart.com/"
driver.get(url)

In [9]:
search_bar = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")
search_bar.send_keys("sneakers")

In [10]:
search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [16]:
urls = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
page_url = []
for i in urls:
    page_url.append(i.get_attribute('href'))
page_url = page_url[:3]

In [17]:
page_url

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [18]:
brand = []
for i in page_url:
    driver.get(i)
    brandname = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in brandname:
        brand.append(j.text)

print("Brand length : ",len(brand))

Brand length :  120

In [20]:
descriptions = []
description = []
for i in page_url:
    driver.get(i)
    desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a")
    for k in desc:
        descriptions.append(k.text)
for t in range(0,len(descriptions),2):
        description.append(descriptions[t])
    
print("Description length : ",len(description))    
print(description[:5])

Description length :  120
['Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...']

In [22]:
price = []
discount = []
for i in page_url:
    driver.get(i)
    pr = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for l in pr:
        price.append(l.text)
    dis = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for s in dis:
        discount.append(s.text)
print("Price length : ",len(price))
print("Discount length :",len(discount))
print(price[:3],"\n")
print(discount[:3])

Price length :  120
Discount length : 120
['₹699', '₹399', '₹748']

['65% off', '77% off', '62% off']

In [23]:
brand = brand[:100]
description = description[:100]
price = price[:100]
discount = discount[:100]

In [24]:
print(len(brand),len(description),len(price),len(discount))

100 100 100 100

In [25]:
sneakers = pd.DataFrame({})
sneakers["Brand Name"] = brand
sneakers["Description"] = description
sneakers["Price"] = price
sneakers["Discount"] = discount
sneakers

,Brand Name,Description,Price,Discount
0,French Connection,Sneakers For Men,₹699,65% off
1,tigonis,Sneakers For Men,₹399,77% off
2,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,62% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,Alfiya,Shoes in Black Color Party wear/Outdoor/Casual...,₹377,62% off
...,...,...,...,...
95,Echor,Unique & Perfect Collection Combo Pack of 02 S...,₹565,43% off
96,NIKE,Simha IDP Sneakers For Men,"₹1,397",53% off
97,Bonexy,PRO-NP-AW08 Sneakers For Men,₹586,72% off
98,FILA,Sneakers For Men,"₹1,366",59% off
99,Robbie jones,HHM Sneakers For Men,₹470,68% off

#### 9)Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [122]:
driver = webdriver.Chrome("chromedriver.exe")

In [123]:
url = "https://www.myntra.com/shoes"
driver.get(url)

In [124]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [125]:
color_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [126]:
#Scraping the links of the inner pages
next_page_url = driver.find_elements_by_xpath("//div[@class='results-showMoreContainer']//a")
next_pages = []
for i in next_page_url:
    next_pages.append(i.get_attribute("href"))
next_pages = next_pages[:3]

In [127]:
brand = []
for i in next_pages:
    driver.get(i)
    brand_name = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for j in brand_name:
        brand.append(j.text)
len(brand)

150

In [128]:
brand[:5]

['Nike', 'Nike', 'ALDO', 'Nike', 'Nike']

In [129]:
description = []
for i in next_pages:
    driver.get(i)
    description_short = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h4")
    for j in description_short:
        description.append(j.text)
descriptions = []
for k in range(0,len(description),2):
    descriptions.append(description[k])
descriptions[:5]

['Men Sneakers',
 'Unisex LEBRON XVIII Basketball',
 'Men AIR ZOOM Running Shoes',
 'Men Zoom Winflo 8 Running',
 'Men AIR ZOOM PEGASUS 38 Run']

In [130]:
len(descriptions)

150

In [131]:
price = []
for i in next_pages:
    driver.get(i)
    price_view = driver.find_elements_by_xpath("//div[@class='product-price']")
    for j in price_view:
        price.append(j.text)
price[:5]

['Rs. 9995',
 'Rs. 9999',
 'Rs. 7721Rs. 10295(25% OFF)',
 'Rs. 10557Rs. 17595( 40 % OFF)',
 'Rs. 8295']

In [132]:
brand = brand[:100]
descriptions = descriptions[:100]
price = price[:100]

In [133]:
shoes = pd.DataFrame({})
shoes["Brand"] = brand
shoes["Description"] = descriptions
shoes["Price"] = price
shoes

,Brand,Description,Price
0,Nike,Men Sneakers,Rs. 9995
1,Nike,Unisex LEBRON XVIII Basketball,Rs. 9999
2,ALDO,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
3,Nike,Men Zoom Winflo 8 Running,Rs. 10557Rs. 17595( 40 % OFF)
4,Nike,Men AIR ZOOM PEGASUS 38 Run,Rs. 8295
...,...,...,...
95,Nike,Men RENEW FUSION Running Shoes,Rs. 6995
96,FILA,Women Sneakers,Rs. 8999
97,Geox,Women Woven Design Slip-On Sneakers,Rs. 11990
98,ADIDAS,Women Glossy Pumps,Rs. 7799Rs. 11999(35% OFF)
99,Cole Haan,Women Supernova+ Running,Rs. 6749Rs. 14999(55% OFF)

#### 10)Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [36]:
driver = webdriver.Chrome("chromedriver.exe")

In [37]:
url = "https://www.amazon.in/"
driver.get(url)

In [38]:
search_laptop = driver.find_element_by_id("twotabsearchtextbox")
search_laptop.send_keys("Laptop")

In [39]:
search_click = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']//input")
search_click.click()

In [40]:
cpufilter1 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[26]/span/a/div/label/i")
cpufilter1.click()

In [41]:
cpufilter2 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[28]/span/a/div/label/i")
cpufilter2.click()

In [42]:
title = []
tit = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in tit:
    title.append(i.text)
len(title)

26

In [43]:
title = title[:10]

In [44]:
price = []
pr = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pr:
    price.append(i.text)
len(price)

26

In [45]:
price = price[:10]

In [46]:
page_url = []
pages = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for i in pages:
    page_url.append(i.get_attribute('href'))
page_url[:5]

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A09927331AQANGH5N8P79&url=%2FLenovo-Legion-Windows-Graphics-81YU0029IN%2Fdp%2FB087D48PYW%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1625222267%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1625222267&id=2892043441041836&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A02653902UKZ2EJPLDFRL&url=%2FNotebook-Horizon-i5-10210U-Graphics-XMA1904-AR%2Fdp%2FB089F5JGM1%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1625222267%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1625222267&id=2892043441041836&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1625222267&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Dell-35-56cms-1366x768-Integrated-Graphics/dp/B097PL7VX8/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1625222267&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1625222267&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5']

In [48]:
rating = []
for i in page_url:
    driver.get(i)
    try:
        laptop_rating = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
        rating.append(laptop_rating.text)
    except:
        pass
rating = rating[:10]

In [59]:
ratings = []
for i in rating:
    ratings+=i.split(' ')
ratings
laptop_rating = []
for j in range(0,len(ratings),4):
    laptop_rating.append(ratings[j])
laptop_rating

['3.8', '4.4', '4.5', '4.4', '3.9', '4.1', '4', '3.1', '4.3', '5']

In [60]:
laptop = pd.DataFrame({})
laptop["Title"] = title
laptop["Price"] = price
laptop["Rating(Out of 5)"] = laptop_rating
laptop

,Title,Price,Rating(Out of 5)
0,Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...,"1,49,990",3.8
1,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"54,999",4.4
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990",4.5
3,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"46,999",4.4
4,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...","78,640",3.9
5,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"42,999",4.1
6,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"59,999",4
7,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","78,993",3.1
8,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"41,999",4.3
9,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"86,990",5